<html lang="en">

<head>
    <%- include('components/header', { title: 'Admin Panel' }) %>
        <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix">
            <h1 class="fancy-header-small">Admin</h1>
            <p class="text-secondary mb-5">Welcome to The Real World.
            <p>

            <div id="lg-buttons">
                <button class="btn btn-lg btn-primary text-white btn-block w-100 mb-3"
                    onclick="window.location.href = '/admin/view';"><i class="fa-solid fa-pen-nib"></i> View
                    Applications</button>
                <button class="btn btn-lg btn-primary text-white btn-block w-100 mb-3"
                    onclick="window.location.href = '/admin/update';"><i class="fa-solid fa-envelopes-bulk"></i> Bulk
                    Update</button>
            </div>

            <div id="statsToolbar">
                <div class="btn-toolbar mb-3" style="justify-content: center; display: flex;">
                    <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                        onclick="window.location.href = '/stats';"><i class="fa-solid fa-star"></i>
                        Stats: All Forms</button>
                    <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                        onclick="window.location.href = '/stats/select';"><i class="fa-solid fa-scroll"></i> Stats: Specific Form</button>
                </div>
            </div>

            <div id="btnToolbar" class="btn-toolbar mt-3 mb-1" style="justify-content: center; display: flex;">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = '/';"><i class="fa-solid fa-house"></i> Go Home</button>
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = '/support';"><i class="fa-solid fa-phone"></i> Contact Support</button>
            </div>

            <p class="mt-3 text-secondary text-center fs-6">
                &copy; Protagnst Media LLC / Blaze Productions LLC 2022
            </p>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

</html>

<script>
    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }

    let userPermLevel = 1;

    $(document).ready(async function () {
        let userPerms = await fetch(`/api/fetchUserPerms/<%- session.discordId %>?isFromServer=170c455e9a4a`)
            .then(res => res.json());

        userPermLevel = userPerms.perms;

        if (userPermLevel >= 5) {
            let banButton = document.createElement("button");
            banButton.innerHTML = '<i class="fa-solid fa-gavel"></i> Ban user';
            banButton.setAttribute("class", "btn btn-lg btn-primary text-white btn-block w-100 mb-3");
            banButton.setAttribute("onclick", "window.location.href = '/admin/ban';");

            $("#lg-buttons").append(banButton);
        }

        if (userPermLevel >= 50) {
            let submitButton = document.createElement('button');
            submitButton.className = 'btn btn-dark btn-md me-2';
            submitButton.innerHTML = '<i class="fa-solid fa-terminal"></i>';
            submitButton.onclick = () => window.location.href = '/developer';

            $("#btnToolbar").append(submitButton);
        }
    });
</script>