<html lang="en">

<head>
    <%- include('components/header', { title: 'Guide' }) %>
        <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix">
            <h1 class="fancy-header-small">Guide</h1>
            <p class="text-secondary mb-3">Deauthorizing this application.
            <p>

            <p class="text-secondary">
                Don't want to use the app anymore? No problem! You can deauthorize this application at any time. To do
                so, please follow the steps below:
            </p>

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading"><i class="fa-solid fa-circle-info"></i> Warning</h4>
                <hr>
                <p class="mb-0">If you do this, your application CANNOT be accepted until you sign in again. When you
                    sign in to the app again at the <a class="text-decoration-none" href="/"><b>Home Page</b></a>, you
                    reauthorize us to use your data as outlined in <a class="text-decoration-none"
                        href="/transparency"><b>The Data Transparency Sheet</b></a>.</p>
            </div>

            <p class="text-secondary"><b>Step One:</b> Open your Discord User settings.</p>
            <img class="img-fluid mb-3" src="https://i.imgur.com/7JwXdqP.png" alt="Guide to deauthorize the app">

            <p class="text-secondary"><b>Step Two:</b> Click on the "Authorised Apps" tab.</p>
            <img class="img-fluid mb-3" src="https://i.imgur.com/5xUAHvE.png" alt="Guide to deauthorize the app">

            <p class="text-secondary"><b>Step Three:</b> Find the app labelled "<u>Protagnst Media LLC</u>".</p>
            <img class="img-fluid mb-3" src="https://i.imgur.com/CxA0HaS.png" alt="Guide to deauthorize the app">

            <p class="text-secondary"><b>Step Four:</b> Click the "Deauthorise" button and confirm.</p>
            <img class="img-fluid mb-3" src="https://i.imgur.com/UYC26y0.png" alt="Guide to deauthorize the app">

            <div id="btnToolbar" class="btn-toolbar mt-3 mb-1" style="justify-content: center; display: flex;">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = 'javascript:history.back()';"><i class="fa-solid fa-left-long"></i>
                    Go Back</button>
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = '/support';"><i class="fa-solid fa-phone"></i> Contact
                    Support</button>
            </div>

            <p class="mt-1 text-secondary text-center fs-6">
                &copy; Protagnst Media LLC / Blaze Productions LLC 2022
            </p>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

</html>