<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/header', { title: 'Update Permissions' }) %>
        <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix">
            <h1 class="fancy-header">Change Perms</h1>
            <p class="text-secondary mb-5">Use this form to update a user's permission level.</p>

            <form onSubmit="event.preventDefault(); return handlePermChange();">
                <div class="form-label-group">
                    <input type="text" id="userid" class="form-control mb-2" placeholder="User's Discord ID"
                        name="userid" required>
                    <input type="text" id="permlvl" class="form-control mb-2" placeholder="New Permission Level"
                        name="permlvl" required>
                </div>
                <button class="btn btn-lg btn-primary text-white btn-block w-100" type="submit" id="btnSubmit">Update Permissions</button>
            </form>

            <p class="mt-5 mb-3 text-secondary text-center fs-6">
                <button class="btn btn-lg btn-primary text-white btn-block w-100 mb-3"
                    onclick="window.location.href = 'javascript:history.back()';"><i class="fa-solid fa-left-long"></i>
                    Go back</button>
                &copy; Protagnst Media LLC / Blaze Productions LLC 2022
            </p>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive"
            aria-atomic="true" id="liveToast">
            <div class="d-flex">
                <div class="toast-body">
                    There was an error processing your request.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
            aria-atomic="true" id="successToast">
            <div class="d-flex">
                <div class="toast-body">
                    Welcome home.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

<script>
    async function handlePermChange() {
        // make api request
        const userid = document.getElementById("userid").value;
        const newPerms = document.getElementById("permlvl").value;
        $('#btnSubmit').prop('disabled', true);

        fetch("/api/dev/updatePermissionLevel?isFromServer=dTs54Cskv38ga1", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                userid,
                newPerms
            }),
        })
            .then((res) => res.json())
            .then(async (data) => {
                if (data.error) {
                    $('#btnSubmit').prop('disabled', false);
                    let error = "There was an error processing your request.";
                    if (data.error) error = data.error;

                    showErrorToast('liveToast', error);
                    return false;
                } else if (data.success) {
                    await showSuccessToast('successToast', data.message);
                    await sleep(3000);
                    window.location.href = "/developer/perm";
                } else {
                    showErrorToast('liveToast', "There was an error processing your request.");
                    return false;
                }
            });
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function showErrorToast(toastId, errormsg) {
        var toastLiveExample = document.getElementById(toastId)
        var toast = new bootstrap.Toast(toastLiveExample)
        toastLiveExample.querySelector('.toast-body').innerText = errormsg;
        toast.show();
    }

    function showSuccessToast(toastId, errormsg) {
        var toastLiveExample = document.getElementById(toastId)
        var toast = new bootstrap.Toast(toastLiveExample)
        toastLiveExample.querySelector('.toast-body').innerText = errormsg;
        toast.show();
    }
</script>

</html>