<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/header', { title: 'Form Statistics' }) %>
        <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix">
            <h1 class="fancy-header-small">Form Statistics</h1>
            <p class="text-secondary mb-3">Use this select menu to view stats for an individual form.</p>

            <form onSubmit="event.preventDefault(); return handleSelectForm();">
                <div class="form-label-group">
                    <p class="text-start mb-1 text-secondary">Form ID <span class="text-danger">*</span></p>
                    <select class="form-select mb-2" id="formid" required>
                        <option></option>
                    </select>
                </div>

                <button class="btn btn-lg btn-primary text-white btn-block w-100" type="submit" id="btnSubmit">See Stats</button>
            </form>
            
            <div id="btnToolbar" class="btn-toolbar mt-4 mb-1" style="justify-content: center; display: flex;">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = 'javascript:history.back()';"><i class="fa-solid fa-left-long"></i> Go Back</button>
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = '/support';"><i class="fa-solid fa-phone"></i> Contact Support</button>
            </div>

            <p class="mt-1 text-secondary text-center fs-6">
                &copy; Protagnst Media LLC / Blaze Productions LLC 2022
            </p>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive"
            aria-atomic="true" id="liveToast">
            <div class="d-flex">
                <div class="toast-body">
                    There was an error processing your request.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
            aria-atomic="true" id="successToast">
            <div class="d-flex">
                <div class="toast-body">
                    Welcome home.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

<script>
    $(document).ready(async function () {
        let dat = await fetch("/api/dev/getAllForms?isFromServer=ixwAW5LXGTjgG", {
            method: "GET",
        }).then((res) => res.json())

        dat.forEach(function (form) {
            $('#formid').append(`<option value="${form.id}">#${form.id}: ${form.form_name}</option>`);
        });
    });

    async function handleSelectForm() {
        let formId = $('#formid').val();
        window.location.href = `/stats/${formId}`;
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function showErrorToast(toastId, errormsg) {
        var toastLiveExample = document.getElementById(toastId)
        var toast = new bootstrap.Toast(toastLiveExample)
        toastLiveExample.querySelector('.toast-body').innerText = errormsg;
        toast.show();
    }

    function showSuccessToast(toastId, errormsg) {
        var toastLiveExample = document.getElementById(toastId)
        var toast = new bootstrap.Toast(toastLiveExample)
        toastLiveExample.querySelector('.toast-body').innerText = errormsg;
        toast.show();
    }
</script>

</html>