<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/header', { title: 'Home' }) %>
    <link rel="stylesheet" href="./public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix"> 
            <h1 class="fancy-header">My Panel</h1>
            <p class="text-secondary mb-5">Welcome back, <%- session.userTag %></p>

            <p class="mt-5 mb-3 text-secondary text-center fs-6">
                <button class="btn btn-lg btn-primary text-white btn-block w-100 mb-3" onclick="window.location.href = '/soon';"><i>Buttons coming soon...</i></button>
                <button class="btn btn-lg btn-primary text-white btn-block w-100 mb-3" onclick="window.location.href = '/api/logout';">Logout</button>
            &copy; Protagnst Media LLC / Blaze Productions LLC 2022</p>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

</html>