<html lang="en">

<head>
    <%- include('components/header', { title: 'Contact support' }) %>
    <link rel="stylesheet" href="./public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix"> 
            <h1 class="fancy-header">Support</h1>
            <p class="text-secondary mb-5">Need help? We're here for you!<p>

            <p>
                If you're stuck or don't know what to do, we can help.
                Simply join the Protagnst Discord Server using the button below
                and ask for help by messaging "DM for Help"!
                A staff member will be with you as soon as they can.
            </p>

            <p class="mt-5 mb-3 text-secondary text-center fs-6">
                <button class="btn btn-lg btn-blurple text-white btn-block w-100 mb-3" onclick="window.location.href = 'https://discord.gg/protagnst';"><i class="fa-brands fa-discord"></i> Join the Discord</button>
                <button class="btn btn-lg btn-primary text-white btn-block w-100 mb-3" onclick="window.location.href = 'javascript:history.back()';"><i class="fa-solid fa-left-long"></i> Go back</button>
            &copy; Protagnst Media LLC / Blaze Productions LLC 2022</p>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

</html>