<html lang="en">

<head>
    <%- include('components/header', { title: 'Not found' }) %>
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix"> 
            <h1 class="fancy-header">Disallowed.</h1>
            <p class="text-secondary mb-5">You are banned from this site.<p>

            <p class="mt-5 mb-3 text-secondary text-center fs-6">
                <button class="btn btn-lg btn-danger text-white btn-block w-100 mb-3" onclick="window.location.href = '/api/logout';"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
                <button class="btn btn-lg btn-primary text-white btn-block w-100 mb-3" onclick="window.location.href = '/support';"><i class="fa-solid fa-phone"></i> Contact Support</button>
            &copy; Protagnst Media LLC / Blaze Productions LLC 2022</p>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

</html>